{% extends 'adminbase.html' %}

{% block content %}
<script>
	function validate()
	{
		var uploadfile = document.getElementById('FileUploadTurnInRequest');
		 if(uploadfile.value == '')
            {
                alert('Please upload the attachment');
                return false;
            }
           else
		 var fileName = uploadfile.value;
        var ext = fileName.substring(fileName.lastIndexOf('.') + 1);
        if(ext == "pdf"  || ext =="doc")
        {
        return true;
        } 
        else
        {
        alert("Upload pdf or doc files only");
        uploadfile.focus();
        return false;
        }
        
	}
          
</script>
<div class="clearfix"></div>
			<div class="banner two">
				<h2>Share ur experiens</h2>
				<h6>...</h6>
			</div>
<div class="generaltext">
				
	<div class="container">
	<div class="contact">
		<div class="col-md-6 contact-top">
		<div class="chrty">
			
			<form action='{{url}}' method='post' enctype='multipart/form-data'>
			<font color="white" size="4">File
			<input type='file' name='filename' id='FileUploadTurnInRequest'><br><br>
			Company	
					<font color="black" size="4">
					<select name='cname'></font>
					{% for cnames in cnames%}
					<option value='{{cnames.key.id()}}' selected>{{cnames.companyname}}</option>
									
					{% endfor %}
					</select>
					</font>
					<center>
					<div class="row">
							
							<div class="col-sm-12 text-right">
								<input class="btn btn-action" type="submit" value="Submit" onclick=" return validate();">
							</div>
							
					</div>
					</center>
					</form>	
		</div>	
			
	</div>
</div>
			<!-- /container -->
{% endblock content %}
