{% extends 'adminbase.html' %}

{% block content %}

<div class="clearfix"></div>
			<div class="banner two">
				<h2>Broucher</h2>
				<h6>Join With us...</h6>
			</div>
	<div class="generaltext">
				
	<div class="container">
	<div class="contact">
		<div class="col-md-6 contact-top">
			<!--h3-->
				<form method='post' action='/register'>
								<font color="white" size="4">	

	

	{% set count=1 %}
	{% for studentinfo in studentinfo %}
			<br>No:{{count}}<br>
			Name:{{studentinfo.name}}<br>
			Division:{{studentinfo.division}}<br>
			Phn No:{{studentinfo.phoneno}}<br>
			email:{{studentinfo.email}}<br>
			<div id='profile'>
				<img src="static/img/brochureimages/{{studentinfo.key.id()}}.jpg" width='100' height='100'/>
			</div>
			<div id='outlet'></div>
			{% set count=count+1 %}
	{% endfor %}
{% endblock content %}