{% extends 'base.html' %}

{% block content %}
<script>
	function validate()	
	{
		var name=document.getElementById("name").value;
		if(name=='')
		{
			alert("Please Enter Name");
			document.getElementById('name').style.borderColor = "red";
			return false;
		}else
		{
			document.getElementById('name').style.borderColor = "green";
		}
		var nameVal=/^([A-Za-z])/;
		if(!(name).match(nameVal))
		{
		  alert("invalid name!!!");
		  return false;	
		}
		
		var email=document.getElementById("email").value;
		if(email=='')
		{
		 alert("Please Enter EmailID");
		 document.getElementById('email').style.borderColor="red";
		 return false;	
		}else
		{
			document.getElementById('email').style.borderColor="green";
		}
		var emailReg=/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
		if(!(email).match(emailReg))
		{
			alert("Invalid Email_ID...!!!!!!");
			return false;
		}
			
		var phone=document.getElementById("phone").value;
		if(phone=='')
		{
		 alert("Please Enter Phone Number");
		 document.getElementById('phone').style.borderColor="red";
		 return false;	
		}else
		{
			document.getElementById('phone').style.borderColor="green";
		}
		var phoneVal=/^\d{10}$/;
		if(!(phone).match(phoneVal))
		{
			alert("Phone no must contain 10 digits");
			return false;
		}
		
		var textfield=document.getElementById("textfield").value;
		if(textfield=='')
		{
		 alert("Please Write Message Something Here");
		 document.getElementById('textfield').style.borderColor="red";
		 return false;	
		}else
		{
			document.getElementById('textfield').style.borderColor="green";
		}
	}
</script>
	
<div class="clearfix"></div>
			<div class="banner two">
				<h2>Contact us</h2>
				<h6>We’d love to hear from you.</h6>
			</div>
	<div class="generaltext">
	
<header id="head" class="secondary"></header>
	<!-- container -->

	<div class="container">

<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
				
					<form>
						<div class="row">
							<div class="col-sm-4">
								<input class="form-control" id="name" type="text" placeholder="Name">
							</div>
							<div class="col-sm-4">
								<input class="form-control" id="email" type="email" placeholder="Email">
							</div>
							<div class="col-sm-4">
								<input class="form-control" id="phone" type="text" placeholder="Phone" maxlength=10 >
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-12">
								<textarea placeholder="Type your message here..." class="form-control" id="textfield" rows="9"></textarea>
							</div>
						</div>
						<br>
						<div class="row">
							
							<div class="col-sm-6 text-right">
								<input class="btn btn-action" type="submit" value="Send message" onclick="return validate();">
							</div>
						</div>
					</form>

			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	{% endblock content %}
