{% extends 'base.html' %}

{% block content %}

<script>
	
function validate()
{
	var name = document.getElementById("name").value;
	if(name==='')
	{
		alert('Please Enter Name');
		document.getElementById('name').style.borderColor = "red";
        return false;
    }else
    {
        document.getElementById('name').style.borderColor = "green";
    }
    var nameVal=/^([A-Za-z])/;
	if(!(name).match(nameVal))
	{
	  alert("invalid name");
	  return false;	
    }
    var phoneno=document.getElementById("phoneno").value;
	var email=document.getElementById("phoneno").value;
	if(phoneno==='')
	{
		alert('Please Enter Phone No');
		document.getElementById('phoneno').style.borderColor = "red";
        return false;
    }else
    {
        document.getElementById('phoneno').style.borderColor = "green";
    }
	var phoneVal=/^\d{10}$/;
	if(!(phoneno).match(phoneVal))
    {
		alert("Phone no must contain 10 digits");
		return false;
	}
	
	var email=document.getElementById("email").value;
	if(email==='')
	{
		alert('Please Enter EmailID');
		document.getElementById('email').style.borderColor = "red";
        return false;
    }else
    {
        document.getElementById('email').style.borderColor = "green";
    }
    var emailReg=/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
    if(!(email).match(emailReg))
	{
	alert("Invalid Email...!!!!!!");
	return false;
	}

}
</script>
<div class="clearfix"></div>
			<div class="banner two">
				<h2>REGISTRATION</h2>
				<h6>Join With us...</h6>
			</div>
	<div class="generaltext">
				
	<div class="container">
	<div class="contact">
		<div class="col-md-6 contact-top">
			<!--h3-->
				<form method='post' action='/register'>
								<font color="white" size="4">	

							<div>
								<span> Name<label>:</label></span>
									<input type="text" class="form-control name" id="name" placeholder="Name" name="name">
								<br>
							</div>
							
							<div class="clearfix"> </div>
							 
							 <div>
								<span>Phone No<label>:</label></span>
								
								<input type="tel" class="form-control phoneno"  id="phoneno"  name="phoneno"  maxlength=10>
								<br>
							 </div>
							 <div class="clearfix"> </div>
							 <div>
								 <span>Email Address<label>:</label></span>
									<input type="email" class="form-control email" id="email" placeholder="anubhav@gmail.com" name="email">
								<br>
							 </div>
							 <div class="clearfix"> </div>
					 		<div>
								 <span>Class<label>:</label></span>
								 <input type='radio' name='division' value='MCS' checked>MCS
                   
								 <input type='radio' name='division' value='MCA' >MCA
								
								 <br>
							</div>
							 <div class="clearfix"> </div>
							 
							 <input type="submit" value="Submit" onclick=" return validate();" >
					</font>
						</form>
					
						
			
			

		</div>
	</div>	<!-- /container -->
		</div>
</div>		
	<svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
			<path id="trianglePath1" d="M0 0 L50 100 L100 0 Z"></path>
			<path id="trianglePath2" d="M50 100 L100 40 L100 0 Z"></path>
		</svg>

{% endblock content %}
