{% extends 'adminbase.html' %}

{% block content %}

<div class="clearfix"></div>
			<div class="banner two">
				<h2>Reports</h2>
				<h6>...</h6>
			</div>
	<div class="generaltext">
				
	<div class="container">
	
		<div class="subcontainer">
			<div class="col-md-12 chrt_grid">
				<!--h3-->
	<font color="white" size="4">	
<table border='2' color="white"> 
	<td>
		<tr>
			<th>&nbsp;&nbsp;Number Of Registered Student&nbsp;&nbsp;</th>
			<th>&nbsp;&nbsp;{{members}}&nbsp;&nbsp;</th>
			
		</tr>
		<tr><th>&nbsp;&nbsp;Number Of Feedback Uploaded&nbsp;&nbsp;</th>
			<th>&nbsp;&nbsp;{{files}}&nbsp;&nbsp;</th>
		</tr>
		<tr><th>&nbsp;&nbsp;Number Of Comments Given By Student&nbsp;&nbsp;</th>
			<th>&nbsp;&nbsp;{{comments}}&nbsp;&nbsp;</th>
		</tr>

		<tr><th>&nbsp;&nbsp;Number Of Registered Company On Website &nbsp;&nbsp;</th>
			<th>&nbsp;&nbsp;{{companies}}&nbsp;&nbsp;</th>
		</tr>
	</td>
</table>
</div>
</div>
		</div>
		</div>
			</div>
		</div>

{% endblock content %}
